{% extends 'base2.html.twig' %}


{% block title %}Ofertas{% endblock %}

{% block page_title %}Ofertas{% endblock %}

{% block body -%}
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-folder-open"></i>Ofertas
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
               <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Vigencia</th>
                            <th>Numero</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                {% if entity.getFichaCliente is null %}
                                    <td><span class="label label-default">NULL</span></td>
                                {% else %}
                                    <td>{{ entity.getFichaCliente }}</td>
                                {% endif %}
                                {% if entity.vigencia is null %}
                                    <td><span class="label label-default">NULL</span></td>
                                {% else %}
                                    <td>{{ entity.vigencia }}</td>
                                {% endif %}
                                {% if entity.numero is null %}
                                    <td><span class="label label-default">NULL</span></td>
                                {% else %}
                                    <td>{{ entity.numero }}</td>
                                {% endif %}                
                                <td>                         

                                    <a href="{{ path('oferta_show', { 'id': entity.id }) }}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-eye-open"></span> Ver</a>

                                    <a href="{{ path('oferta_cliente', { 'id': entity.id }) }}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-edit"></span> Modificar</a>

                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
