{% extends '::base.html.twig' %}

{% form_theme form 'ClienteBundle:Wizard:autorizados_theme.html.twig' %}

{% block body -%}
    {{ include('ClienteBundle:Wizard:wizardSteps.html.twig', {'active': 4}) }}

    <h3>Autorizados</h3>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary btn" value="Aceptar">

            <a href="{{ path('ficha_delete', { 'id': entity.id }) }}" class="btn btn-danger" role="button">
                <span class="glyphicon glyphicon-trash"></span> Eliminar</a>

            <a href="{{ path('ficha') }}" class="btn btn-info" role="button">
                <span class="glyphicon glyphicon-list"></span> Listado</a>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var $collectionHolder;
        // setup an "add" link
        var $addLink = $('<a href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Autorizado</a>');
        var $addLinkDiv = $('<div class="add-link"></div>').append($addLink);

        jQuery(document).ready(function() {
            // Get the div that holds the collection of cuentas
            $collectionHolder = $('div#ficha_form_autorizados');

            // add the "add" div
            $collectionHolder.append($addLinkDiv);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new form (see next code block)
                addForm($collectionHolder, $addLinkDiv);
            });

            function addForm($collectionHolder, $addLinkDiv) {
                // Get the data-prototype
                var prototype = $collectionHolder.data('prototype');
                
                // get the new index
                var index = $collectionHolder.data('index');
                
                // Get the child forms number 
                $collectionHolder.data('num', $collectionHolder.find("div[id*='ficha_form_autorizados_']").length);
                var num = $collectionHolder.data('num')+1;
                
                // Set a proper label
                var newForm = prototype.replace(/__name__label__/g, "Autorizado # "+num);        
                
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm2 = newForm.replace(/__name__/g, index);
                
                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);
                
                // Display the form, before the "Add" link div
                var $newFormDiv = $('<div class="new-form"></div>').append(newForm2);
                $addLinkDiv.before($newFormDiv);
                
                // add a delete link to the new form
                addFormDeleteLink($newFormDiv);
            }

            // add a delete link to all of the existing forms
            $collectionHolder.find("div.form-group").each(function() {
                addFormDeleteLink($(this));
            });

            function addFormDeleteLink($FormDiv) {
                var $removeLink = $('<a href="#" class="btn btn-danger pull-right" role="button"><span class="glyphicon glyphicon-trash"></span> Eliminar este Autorizado</a>');
                $FormDiv.find("div[id*='ficha_form_autorizados_']").append($removeLink);
                
                $removeLink.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();
                    // remove the li for the tag form
                    $FormDiv.remove();
                });
            }

        });

    </script>
{% endblock %}


