{% extends 'base2.html.twig' %}

{% block title %}Solicitar Dieta contra liquidacion{% endblock %}

{% block page_title %}Solicitar Dieta contra liquidacion{% endblock %}

{% block stylesheets_page %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/typeahead/typeahead.css')}}">
{% endblock %}

{% block body -%}

    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Solicitar Dieta
            </div>
        </div>
        <div class="portlet-body form">
            {{ form_start(form) }}

            <div class="form-body">

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.nombreBeneficiario, {'attr':{'class':'input-large typeahead'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.areaBeneficiario) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.concepto) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.proyecto) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.contrato) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.provincia) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.fechaSalidaReal, {'attr':{'class':'input-large date form_datetime'}}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.fechaRegresoReal, {'attr':{'class':'input-large date form_datetime'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.numeroSolicitud) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.laborRealizar, {'label':'Labor a realizar'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.numeroTarjeta) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.formaPago) }}
                    </div>
                </div>

                <div class="table-scrollable">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Moneda</th>
                                <th>Concepto</th>
                                <th>Desayuno</th>
                                <th>Almuerzo</th>
                                <th>Comida</th>
                                <th>Hospedaje</th>
                                <th>Otros</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CUP</td>
                                <td>Utilizado</td>
                                <td>{{ form_widget(form.importeUtilizadoDesayunoCUP) }}</td>
                                <td>{{ form_widget(form.importeUtilizadoAlmuerzoCUP) }}</td>
                                <td>{{ form_widget(form.importeUtilizadoComidaCUP) }}</td>
                                <td>{{ form_widget(form.importeUtilizadoHospedajeCUP) }}</td>
                                <td>{{ form_widget(form.importeUtilizadoOtrosCUP) }}</td>
                            </tr>
                            <tr>
                                <td>CUC</td>
                                <td>Utilizado</td>
                                <td>{{ form_widget(form.importeUtilizadoDesayunoCUC) }}</td>
                                <td>{{ form_widget(form.importeUtilizadoAlmuerzoCUC) }}</td>
                                <td>{{ form_widget(form.importeUtilizadoComidaCUC) }}</td>
                                <td>{{ form_widget(form.importeUtilizadoHospedajeCUC) }}</td>
                                <td>{{ form_widget(form.importeUtilizadoOtrosCUC) }}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>

                <div class="form-actions fluid">
                    <div class="pull-right">
                        <button type="submit" class="btn green">
                            <i class="fa fa-check"></i> Aceptar
                        </button>
                        <a href="{{ path('dieta') }}" class="btn btn-danger" role="button">
                            <i class="fa fa-list"></i> Cancelar
                        </a>
                    </div>
                </div>

            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}


{% block javascripts_page_plugins %}
    <script src="{{ asset('assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.es.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/plugins/typeahead/handlebars.min.js') }}" type="text/javascript"></script>    
    <script src="{{ asset('assets/plugins/typeahead/typeahead.min.js') }}" type="text/javascript"></script>    

{% endblock %}



{% block javascripts_custom_scripts %}
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            autoclose: true,
            format: "dd/mm/yyyy - hh:ii",
            language: 'es',
            startDate: '{{ date()|date('d/m/Y - h:i') }}'
        });

        $(document).ready(function() {
            // CUANDO CARGA EL SELECT
            function setImporte() {
                $.ajax({
                    url: Routing.generate('formapago_show', {id: $('#appbundle_dieta_formaPago').val()}),
                    success: function(html) {
                        $('#appbundle_dieta_importeEntregadoDesayunoCUP').val($.trim($(html).find('#forma-pago-imp-ent-des-cup').text()));
                        $('#appbundle_dieta_importeEntregadoDesayunoCUC').val($.trim($(html).find('#forma-pago-imp-ent-des-cuc').text()));
                        $('#appbundle_dieta_importeEntregadoAlmuerzoCUP').val($.trim($(html).find('#forma-pago-imp-ent-alm-cup').text()));
                        $('#appbundle_dieta_importeEntregadoAlmuerzoCUC').val($.trim($(html).find('#forma-pago-imp-ent-alm-cuc').text()));
                        $('#appbundle_dieta_importeEntregadoComidaCUP').val($.trim($(html).find('#forma-pago-imp-ent-com-cup').text()));
                        $('#appbundle_dieta_importeEntregadoComidaCUC').val($.trim($(html).find('#forma-pago-imp-ent-com-cuc').text()));
                        $('#appbundle_dieta_importeEntregadoHospedaje').val(0);
                        $('#appbundle_dieta_importeEntregadoOtros').val(0);

                        if ($('#appbundle_dieta_formaPago option:selected').text() === "PERSONALIZADO") {
                            $('#appbundle_dieta_importeEntregadoDesayunoCUP').prop("readonly", false);
                            $('#appbundle_dieta_importeEntregadoDesayunoCUC').prop("readonly", false);
                            $('#appbundle_dieta_importeEntregadoAlmuerzoCUP').prop("readonly", false);
                            $('#appbundle_dieta_importeEntregadoAlmuerzoCUC').prop("readonly", false);
                            $('#appbundle_dieta_importeEntregadoComidaCUP').prop("readonly", false);
                            $('#appbundle_dieta_importeEntregadoComidaCUC').prop("readonly", false);
                        }
                        else {
                            $('#appbundle_dieta_importeEntregadoDesayunoCUP').prop("readonly", true);
                            $('#appbundle_dieta_importeEntregadoDesayunoCUC').prop("readonly", true);
                            $('#appbundle_dieta_importeEntregadoAlmuerzoCUP').prop("readonly", true);
                            $('#appbundle_dieta_importeEntregadoAlmuerzoCUC').prop("readonly", true);
                            $('#appbundle_dieta_importeEntregadoComidaCUP').prop("readonly", true);
                            $('#appbundle_dieta_importeEntregadoComidaCUC').prop("readonly", true);
                        }
                    }
                });

            }

            setImporte();

            // TYPEAHEAD
            $.getJSON("{{ path('all_users') }}", function(source) {
                // instantiate the bloodhound suggestion engine
                var users = new Bloodhound({
                    datumTokenizer: function(d) {
                        return Bloodhound.tokenizers.whitespace(d.name);
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local: source
                });

                // initialize the bloodhound suggestion engine
                users.initialize();

                // instantiate the typeahead UI
                $('.typeahead').typeahead(
                        {
                            highlight: true,
                        },
                        {
                            displayKey: 'name',
                            source: users.ttAdapter()
                        }
                );
            });
        });

        // CUANDO CAMBIA EL SELECT
        $('#appbundle_dieta_formaPago').change(function setImporte() {
            $.ajax({
                url: Routing.generate('formapago_show', {id: $('#appbundle_dieta_formaPago').val()}),
                success: function(html) {
                    $('#appbundle_dieta_importeEntregadoDesayunoCUP').val($.trim($(html).find('#forma-pago-imp-ent-des-cup').text()));
                    $('#appbundle_dieta_importeEntregadoDesayunoCUC').val($.trim($(html).find('#forma-pago-imp-ent-des-cuc').text()));
                    $('#appbundle_dieta_importeEntregadoAlmuerzoCUP').val($.trim($(html).find('#forma-pago-imp-ent-alm-cup').text()));
                    $('#appbundle_dieta_importeEntregadoAlmuerzoCUC').val($.trim($(html).find('#forma-pago-imp-ent-alm-cuc').text()));
                    $('#appbundle_dieta_importeEntregadoComidaCUP').val($.trim($(html).find('#forma-pago-imp-ent-com-cup').text()));
                    $('#appbundle_dieta_importeEntregadoComidaCUC').val($.trim($(html).find('#forma-pago-imp-ent-com-cuc').text()));
                    $('#appbundle_dieta_importeEntregadoHospedaje').val(0);
                    $('#appbundle_dieta_importeEntregadoOtros').val(0);

                    //$("#div1").html(html);
                    if ($('#appbundle_dieta_formaPago option:selected').text() === "PERSONALIZADO") {
                        $('#appbundle_dieta_importeEntregadoDesayunoCUP').prop("readonly", false);
                        $('#appbundle_dieta_importeEntregadoDesayunoCUC').prop("readonly", false);
                        $('#appbundle_dieta_importeEntregadoAlmuerzoCUP').prop("readonly", false);
                        $('#appbundle_dieta_importeEntregadoAlmuerzoCUC').prop("readonly", false);
                        $('#appbundle_dieta_importeEntregadoComidaCUP').prop("readonly", false);
                        $('#appbundle_dieta_importeEntregadoComidaCUC').prop("readonly", false);
                    }
                    else {
                        $('#appbundle_dieta_importeEntregadoDesayunoCUP').prop("readonly", true);
                        $('#appbundle_dieta_importeEntregadoDesayunoCUC').prop("readonly", true);
                        $('#appbundle_dieta_importeEntregadoAlmuerzoCUP').prop("readonly", true);
                        $('#appbundle_dieta_importeEntregadoAlmuerzoCUC').prop("readonly", true);
                        $('#appbundle_dieta_importeEntregadoComidaCUP').prop("readonly", true);
                        $('#appbundle_dieta_importeEntregadoComidaCUC').prop("readonly", true);
                    }
                }
            });
        });

    </script>

{% endblock %}